<section class="h-100 w-100">
  <div class="w-100 h-100 ">
    <div class="row justify-content-md-center h-100">
      <div class="card-wrapper  d-flex flex-column justify-content-center align-items-center gap-4">
        <div class="card fat p-3">
          <div class="card-body">
            <h4 class="card-title w-100 text-center">Login</h4>
            <form class="row g-1" (ngSubmit)="login()" [formGroup]="loginForm">
              <div class="col-md-12">
                <label for="username" class="form-label mb-1">Usuário</label>
                <input type="text" class="form-control" formControlName="username" id="username" required>
              </div>
              <div class="col-md-12 mt-3">
                <label for="password" class="form-label mb-1">Senha</label>
                <input type="password" class="form-control" formControlName="password" id="password" required>
              </div>
              <div class="col-12  mt-4">
                <button class="btn btn-primary w-100" type="submit">Entrar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>